.navbar-nav > li > a {
    font-size: 23px;
    line-height: 50px;
    float: right;
    span {
        display: none;
    }
}

.navbar-nav {
    list-style: none;
    text-align: right;
    li {
        display: inline-block;
        line-height: 50px;
        &.active {
            background-color: $primary-color;
            a {
                color: $secondary-color;
            }
        }
        a {
            padding: 0 .5rem;
            display: block;
            text-decoration: none;
            &:hover {
                background-color: $light-gray;
            }
        }
    }
}

aside {
    display: none;
}